* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;

    font-family: 'Satoshi-Variable', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    background-color: #F7FBFE;
    --primary-regular: #988ACA;

    --segundary-gray: #E7EBF2;
    --segundary-regular-gradient: linear-gradient(293.39deg, #988ACA 46.33%, #000000 48.12%);
    --primary-black: #000218;

    --primary-gray: rgba(0, 2, 24, 0.48);
    --primary-white: #F7FBFE;
    --segundary-black: #000000;
    --primary-red: #C23333;
    --primary-green: #21C628;
}

@keyframes  slidein{
    from {
        margin-left: 100%;
        width: 200%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}
h1 {
    color: var(--primary-regular);
    font-size: 8rem;

    font-family: 'Satoshi-Black', sans-serif;
}

.button_white {
    width: 123px;
    height: 40px;

    cursor: pointer;

    border-style: none;
    background-color: var(--primary-white);

    font-family: 'Satoshi-Black', sans-serif;
}

.button_black {
    width: 123px;
    height: 40px;

    cursor: pointer;

    background-color: var(--primary-black);
    border-style: none;
    border-radius: 100px;

    font-family: 'Satoshi-Black', sans-serif;
    color: var(--primary-white);
}

input {
    font-family: Satoshi-Regular, sans-serif;
}

div.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.input-container label {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--primary-gray);
}

div.input-container input {
    width: 100%;
    height: 56px;
    padding: 17px 24px;
    border: 2px solid var(--primary-gray);
    border-radius: 12px;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 135%;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: border 0.5s;
}

a:link {
    font-family: 'Satoshi-Black', sans-serif;
    color: var(--primary-gray);
    font-size: 1.3rem;
    cursor: pointer;
}

a:visited {
    font-family: 'Satoshi-Black', sans-serif;
    color: var(--primary-gray);
    font-size: 1.3rem;
    cursor: pointer;
}

a:hover{
    color: var(--primary-black);
}
