header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content {
    width: 1328px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

header .content ul{
    display: flex;
    align-items: center;
}

header .content ul li{
    font-family: 'Satoshi-Black', sans-serif;
    color: var(--primary-gray);
    font-size: 1.3rem;
    cursor: pointer;
    margin: 1.5rem;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content ul .li_selected:hover{
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: var(--segundary-gray);
    color: var(--primary-black);
}

header .isUser .content .left {
    width: 246px;
}

header .button_white:hover{
    border-style: solid;
    border-color: var(--segundary-gray);
    border-radius: 20px;
}

header .isLogged .content .right {
    display: none;
}

header .isLogged .content .profile {
    width: 48px;
    height: 48px;
    border: 1px solid var(--primary-regular);
    border-radius: 100%;
    background-color: rgba(152, 138, 202, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .isUser .content .profile {
    display: none;
}

header .isLogged .content .profile span{
    font-family: 'Satoshi-Black', sans-serif;
    font-size: 1.6rem;
}

header .isLogged .content .profile button{
    border: none;
    background-color: var(--primary-white);
    font-family: Satoshi-Regular, sans-serif;
    font-weight: 600;
    color: var(--primary-black);
}

header .isLogged .content .profile .down{
    display: none;
}

header .isLogged .content .profile:hover .down {
    position: absolute;
    display: block;
    top: 90px;
}

header .isLogged .content .profile:hover span{
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .initial_content{
    width: 1280px;
    height: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .initial_content h1{
    margin: 1rem;
}

main .animation_content {
    width: 1080px;
    height: 600px;
    background-image: url("assets/back_ilust.svg");
}

main .block_content {
    width: 640px;
    height: 160px;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

main .block_content .writer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .block_content .writer_content h2 {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 2.5rem;
    color: var(--primary-gray);
}

main .block_content .buttons_content {
    width: 370px;

    display: flex;
    justify-content: space-between;
}

main .block_content .buttons_content .button_black {
    width: 150px;
    height: 52px;
    border-radius: 25px;
    font-size: 1.7rem;
}

main .block_content .buttons_content .button_white {
    width: 170px;
    height: 52px;
    border-style: solid;
    border-radius: 25px;
    font-size: 1.7rem;
}


main .cards_content {
    width: 100%;
    height: 384px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .cards_content .cards {
    width: 1128px;
    height: 246px;
    display: flex;
    justify-content: space-between;
}

main .cards_content .cards .card {
    width: 340px;
    height: 246px;
    border-radius: 25px;
    background: var(--segundary-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .cards_content .cards .card .header{
    font-size: 1.8rem;
    color: var(--primary-black);
    font-family: 'Satoshi-Black', sans-serif;
    height: 40px;
    width: 280px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

main .cards_content .cards .card .header span{
    margin-left: 25px;
}

main .cards_content .cards .card .main{
    font-size: 1.4rem;
    height: 140px;
    width: 280px;
    margin-top: 5px;
}

main .big_cards_content {
    width: 100%;
    height: 1620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main .big_cards_content .big_card {
    width: 1080px;
    height: 380px;
    display: flex;
    align-items: center
;
}

main .big_cards_content .big_card h1{
    font-size: 6rem;
    margin-left: 64px;
    margin-bottom: 20px;
    color: var(--primary-black);
}

main .big_cards_content .big_card h2{
    margin-left: 64px;
    font-size: 1.8rem;
    color: var(--primary-gray);
}

main .big_cards_content .big_card h3{
    margin-left: 64px;
    font-size: 3rem;
    color: var(--primary-gray);
}

main .big_cards_content .big_card_two {
    width: 1080px;
    height: 380px;
    display: flex;
    align-items: center
;
}

main .big_cards_content .big_card_two h1{
    font-size: 6rem;
    color: var(--primary-black);
}

main .big_cards_content .big_card_two h2{
    font-size: 1.8rem;
    color: var(--primary-gray);
}

main .big_cards_content .big_card_two h3{
    font-size: 4.3rem;
    margin-bottom: 20px;
    color: var(--primary-regular);
}

main .authors_content {
    width: 100%;
    height: 690px;
    background-image: url("assets/back_authors.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .authors_content h2{
    color: var(--primary-white);
    font-size: 5rem;
}

main .authors_content h3{
    color: var(--primary-white);
    font-size: 3.5rem;
}

main .authors_content .button_white{
    width: 150px;
    height: 60px;

    cursor: pointer;
    font-size: 2rem;
    border-radius: 25px;
    border-style: none;
    background-color: var(--primary-white);

    margin-top: 50px;
    font-family: 'Satoshi-Regular', sans-serif;
}

footer{
    height: 400px;
    width: 100%;
    background-color: var(--segundary-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

footer .option_content {
    width: 1080px;
    height: 190px;
    color: var(--primary-white);
    display: flex;
    justify-content: space-around;
}

footer .option_content span{
    font-size: 2rem;
    margin-bottom: 50px;
}

footer .option_content ul li {
    font-size: 3rem;
    margin: 7px;
    font-family: 'Satoshi-Bold', sans-serif;
}

footer .option_content a{
    font-size: 3rem;
    font-family: 'Satoshi-Bold', sans-serif;
    color: var(--primary-white);
}

footer .last_linear_content .linear{
    width: 1080px;
    height: 1px;
    margin-top: 6rem;
    background-color: var(--primary-white);
}

footer .last_linear_content .last {
    margin-top: 1rem;
    color: var(--primary-white);
    display: flex;
    justify-content: space-between;
}