main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .initial{
    width: 100vw;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

main .initial h1{
    font-size: 4rem;
    width: 550px;
    text-align: center;
}

main .initial img{
    max-height: 300px;
}

main .add_publi{
    margin-top: 100px;
    width: 1080px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .add_publi .form{
    width: 840px;
    height: 700px;
    border: 1px solid var(--segundary-gray);
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .add_publi .form:hover{
    box-shadow: 1px 1px 3px 1px var(--primary-regular);
}

main .add_publi .form .title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 50px;
}

main .add_publi .form label{
    margin: 5px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

main .add_publi .form .textarea{
    height: 300px;
}

main .add_publi .form textarea{
    height: 300px;
    width: 400px;
    resize: none;
    border-radius: 10px;
    border: 1px solid var(--segundary-gray);
    background-color: var(--primary-white);
    padding: 20px;
}

main .add_publi .form span{
    font-size: 2rem;
}

main .add_publi .form input{
    width: 400px;
    height: 44px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--segundary-gray);
    text-align: center;
    background-color: var(--primary-white);
}

main .add_publi .form button{
    background-color: var(--primary-black);
    border: 0;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    color: var(--primary-white);
    font-size: 2rem;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
    margin-top: 20px;
}

main .add_publi .form button:hover{
    background-color: var(--primary-regular);
}

main .publi {
    margin-top: 50px;
    width: 1080px;
}

main .publi span{
    font-size: 3.5rem;
    color: var(--primary-regular);
    font-family: 'Satoshi-Bold', sans-serif;
}

main .publi .containt_card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

main .publi .card{
    margin-top: 25px;
    width: 460px;
    background-color: var(--primary-white);
    border-radius: 25px;
    border-style: solid;
    border-color: var(--primary-gray);
    margin-bottom: 25px;
    padding: 20px;
}

main .publi .card .image_post{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

main .publi .card img{
    max-height: 333px;
    max-width: 440px;
    min-width: 440px;
    min-height: 300px;
    border-radius: 20px;
    margin-top: 10px;
}

main .publi .card .resource{
    margin-left: 25px;
}

main .publi .card .resource .cat_inpu{
    font-size: 1.6rem;
    color: var(--primary-gray);
    margin-top: 25px;
    border: 0;
    background-color: var(--primary-white);
    font-family: 'Satoshi-Bold', sans-serif;
    width: 100%;
}

main .publi .card .resource .title_input{
    color: var(--primary-black);
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    background-color: var(--primary-white);
    font-family: 'Satoshi-Bold', sans-serif;
}

main .publi .card .resource .desc_input{

}

main .publi .card .resource textarea{
    color: var(--primary-gray);
    font-size: 1.3rem;
    word-break: break-word;
    border: 0;
    background-color: var(--primary-white);
    width: 100%;
    resize: none;
    height: 100px;
}

main .publi .card .resource .dateStatus{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

main .publi .card .resource .dateStatus span{
    font-size: 1.6rem;
    margin-right: 15px;
}

main .publi .card .image_post input[type="file"]{
    display: none;
}

main .publi .card .resource .option{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

main .publi .card .resource .option a{
    width: 120px;
    height: 50px;
    background-color: var(--primary-red);
    border-radius: 10px;
    color: var(--primary-white);
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main .publi .card .resource .option button{
    width: 120px;
    height: 50px;
    background-color: var(--primary-regular);
    border-radius: 10px;
    color: var(--primary-white);
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Satoshi-Bold', sans-serif;
}

