main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content_profile{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 230px;;
}

main .content_profile img{
    min-width: 250px;
    min-height: 250px;
    max-height: 250px;
    max-width: 250px;
    border-radius: 100%;
}

main .content_profile span{
    font-size: 4.5rem;
    font-family: 'Satoshi-Black', sans-serif;
    margin-top: 30px;
}

main .content_profile .purplu{
    color: var(--primary-regular);
}

main .info_basic{
    width: 840px;
    height: 250px;
    border: 1px solid var(--segundary-gray);
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 50px;
}

main .info_basic:hover{
    box-shadow: 1px 1px 3px 1px var(--primary-regular);
}

main .info_basic h1{
    font-size: 2.5rem;
    color: var(--primary-black);
}

main .info_basic span{
    font-size: 1.8rem;
    color: var(--primary-black);
}

main .info_basic label{
    font-size: 1.6rem;
    color: var(--primary-gray);
    font-family: 'Satoshi-Black', sans-serif;
}

main .info_basic .form_name{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

main .info_basic form span{
    font-size: 1.8rem;
    color: var(--primary-gray);
    font-family: Satoshi-Regular, sans-serif;
    font-weight: 700;
    white-space: nowrap;
}

main .info_basic form .name{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .info_basic form .image{
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
}

main .info_basic form button{
    width: 100px;
    height: 50px;
    background-color: var(--primary-white);
    border-style: solid;
    border-radius: 10px;
    font-family: Satoshi-Bold, sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
}

main .info_basic form button:hover{
    box-shadow: 1px 1px 3px 1px var(--primary-regular);
}

main .info_basic form .input-name{
    background-color: var(--primary-white);
    font-family: 'Satoshi-Regular', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    width: 700px;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    color: var(--primary-black);
}

main .info_basic form .alter_image{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

main .info_basic form .name input{
    border-style: none;
}

main .info_basic form .alter_image .image input{
    margin-left: 30px;
}

input[type="file"]{
    display: none;
}
main .info_basic form img{
    height: 58px;
    width: 58px;
    cursor: pointer;
    margin-left: 50px;
}

main .info_basic form .alter_image .image input{
    background-color: var(--primary-white);
    font-family: 'Satoshi-Regular', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    color: var(--primary-black);
    border-style: none;
}

main .formations {
    margin-top: 50px;
    width: 1080px;

}

main .formations .add_forma{
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
}

main .formations .add_forma button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--primary-regular);
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: Satoshi-Bold, sans-serif;
    color: var(--primary-white);
}

main .formations .add_forma button:hover{
    box-shadow: 1px 1px 1px var(--primary-black);
}

main .formations .cards_formations {
    margin-top: 50px;
    width: 100%;
}

main .formations .cards_formations .card {
    width: 320px;
    height: 300px;
    margin: 20px;
    border-color: var(--primary-gray);
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px var(--primary-gray);
    font-size: 1.6rem;
    color: var(--primary-gray);
    font-family: 'Satoshi-Bold', sans-serif;
    font-weight: 600;
    padding: 20px;
}

main .formations .cards_formations .card .card_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .formations .cards_formations .card input{
    border-style: none;
    background-color: var(--primary-white);
    color: var(--primary-black);
}

main .formations .cards_formations .card label:not(:nth-child(5n)){
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

main .formations .cards_formations .card .name_formation{
    font-size: 2.5rem;
    font-family: 'Satoshi-Black', sans-serif;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

main .formations .cards_formations .card .type{
    font-size: 1.8rem;
    font-family: 'Satoshi-Regular', sans-serif;
    font-weight: 600;
    width: 100%;
    margin-left: 5px;
}

main .formations .cards_formations .card .cod{
    font-size: 1.8rem;
    font-family: 'Satoshi-Regular', sans-serif;
    font-weight: 600;
}

main .formations .cards_formations .card .date{
    font-size: 1.8rem;
    font-family: 'Satoshi-Regular', sans-serif;
    font-weight: 600;
}

main .formations .cards_formations .card .descript{
    font-size: 1.6rem;
    font-family: 'Satoshi-Regular', sans-serif;
    font-weight: 600;
}

main .formations .cards_formations .card #label_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .formations .cards_formations .card #label_desc input{
    width: 100%;
    row-gap: normal;
}