main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content_profile{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

main .content_profile img{
    min-width: 250px;
    min-height: 250px;
    max-height: 250px;
    max-width: 250px;
    border-radius: 100%;
}

main .content_profile span{
    font-size: 4.5rem;
    font-family: 'Satoshi-Black', sans-serif;
    margin-top: 30px;
}